[Unit]
Description=TOD Camera Unit
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=eswar
WorkingDirectory=/home/eswar/TOD_CAMUNIT
ExecStart=/home/eswar/camenv/bin/python main.py --interval 30s
Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=tod-camunit

[Install]
WantedBy=multi-user.target
